default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FeatureContext

    extensions:
        Imbo\BehatApiExtension:
            apiClient:
                base_uri: http://app-test

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                environment: test
